* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #dae8e3;
}
h1 {
  font-size: 4rem;
  color: #54756a;
}
.title {
  padding: 20px;
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
  text-align: center;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  align-content: center;
}
p {
  font-size: 3rem;
  color: rgb(20, 17, 17);
}
/* Buttons */
.btn-menu {
  position: relativea;
  display: flex;
  flex-direction: column;
}

#weighted-mud {
  margin-top: 3%;
  background-color: #dae8e3;
  font-weight: bold;
  padding: 0 1.5rem;
  width: 120px;
  height: 40px;
  margin-bottom: 60px;
  margin-left: 60px;
  text-align: center;
  border-radius: 6px;
}
#unweighted-mud {
  background-color: #dae8e3;
  text-align: center;
  font-weight: bold;
  border-radius: 4px;
  width: 120px;
  height: 40px;
  padding: 0 1.5rem;
  margin: 0 4rem;
  margin-bottom: 60px;
  margin-bottom: 60px;
  margin-left: 60px;
  border-radius: 6px;
}
#dilution {
  background-color: #dae8e3;
  font-weight: bold;
  width: 120px;
  height: 40px;
  padding: 0 2rem;
  margin: 0 4rem;
  margin-bottom: 60px;
  margin-left: 60px;
  border-radius: 6px;
}
#density-control {
  transition-duration: 0.4ms;
  background-color: #dae8e3;
  font-weight: bold;
  width: 120px;
  height: 40px;
  padding: 0 2rem;
  margin: 0 2rem;
  margin-bottom: 60px;
  margin-left: 60px;
  border-radius: 6px;
  box-shadow: 0 4px 4px #ccc;
}
#density-control:hover {
  background-color: #4caf50; /* Green */
}
#weighted-mud:hover {
  background-color: #4caf50; /* Green */
}
#unweighted-mud:hover {
  background-color: #4caf50; /* Green */
}
#dilution:hover {
  background-color: #4caf50; /* Green */
}
/* Showcase*/
.showcase {
  position: absolute;
  padding: 20;
  margin-left: 40%;
}
